 OOOOO  OOOOOOO   OOO    OOOOO
O     O O        O   O  O     O
O       O       O     O       O
OOOOOO  OOOOOO  O     O  OOOOO
O     O       O O     O O
O     O O     O  O   O  O
 OOOOO   OOOOO    OOO   OOOOOOO

OOOOOO  OOOOOOO OOOOOO  O     O  OOOOO   OOOOO  OOOOOOO OOOOOO
O     O O       O     O O     O O     O O     O O       O     O
O     O O       O     O O     O O       O       O       O     O
O     O OOOOO   OOOOOO  O     O O  OOOO O  OOOO OOOOO   OOOOOO
O     O O       O     O O     O O     O O     O O       O   O
O     O O       O     O O     O O     O O     O O       O    O
OOOOOO  OOOOOOO OOOOOO   OOOOO   OOOOO   OOOOO  OOOOOOO O     O

